<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <link rel="stylesheet" href="static/style.css">
        <link rel="manifest" href="static/manifest.json" />
        <title>My app</title>
    </head>
    <body>
        <div class="container">
            <form class="form" action="/" method="POST">
                <input type="text" name="url" id="url" class="website" placeholder="Enter the link to scan for all phone numbers present">
                <button type="submit" class="submit">Submit</button>
            </form>
            {% include 'output.html' %}
        </div>
    </body>
</html>
